<aside class="sidebar">
  
  {% if page.id %}
  <div class="widget widget-recent">
    <h3 class="widget-title">Recent Posts</h3>
    {% for post in site.posts limit:4 %}
    <div class="recent-posts">
      {% if post.image %}
      <div class="recent-header">
        <a class="recent-image" href="{{ root_url }}{{ post.url | prepend: site.baseurl }}" style="background-image: url({{"/img/" | prepend: site.baseurl | append: post.image}})"></a>
      </div>
      {% else %}
      {% endif %}
      <div class="recent-content">
        <h6 class="recent-title"><a href="{{ root_url }}{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h6>
        <div class="recent-date">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{post.date | date: "%B %-d, %Y"}}</time>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  {% endif %}

 
<!--
  <div class="widget widget-newsletter">
    <h3 class="widget-title">Newsletter</h3>
    <div class="newsletter-subtitle">Get Interesting News</div>
    <div class="newsletter-text">Receive the latest news via email.</div>
    <form class="c-newsletter-form validate" action="{% if site.mailchimp %}//{{site.mailchimp}}{% else %}#{% endif %}" method="POST"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
      <div class="newsletter-group">
        <div class="newsletter-group-top">
          <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
          <i class="email-icon ion ion-ios-mail"></i>
          <input class="newsletter-email required email" id="mce-EMAIL" type="text" name="EMAIL" placeholder="E-mail">
        </div>
        <input class="newsletter-button" id="mc-embedded-subscribe" type="submit" name="subscribe" value="Subscribe">
      </div>
    </form>
  </div>
--> 


  




<div class="widget widget-newsletter">
  <form action="https://hotmail.us14.list-manage.com/subscribe/post?u=18afcd080d9cc3e82c128d501&amp;id=932a5978eb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
  <h3 class="widget-title">Newsletter</h3>
  <h2>Subscríbete</h2>
  <div class="newsletter-text">Recibe las últimas noticias vía correo electrónico</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Correo Electrónico  <span class="asterisk">*</span>
</label>
<div></div>

  <div class="newsletter-group-top">
    <label class="screen-reader-text" for="mce-EMAIL">Correo ELectrónico</label>
    <i class="email-icon ion ion-ios-mail"></i>
    <input class="newsletter-email required email" id="mce-EMAIL" type="text" name="EMAIL" placeholder="E-mail">
  </div>


</div>
	<div id="mce-responses" class="clear foot">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_18afcd080d9cc3e82c128d501_932a5978eb" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input class="newsletter-button" id="mc-embedded-subscribe" type="submit" name="subscribe" value="Subscribe">
                <p class="brandingLogo"><a href="http://eepurl.com/hWyTl9" title="Mailchimp - email marketing made easy and fun"></a></p>
            </div>
        </div>
    </div>

</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday'; /*
  * Translated default messages for the $ validation plugin.
  * Locale: ES
  */
 $.extend($.validator.messages, {
   required: "Este campo es obligatorio.",
   remote: "Por favor, rellena este campo.",
   email: "Por favor, escribe una dirección de correo válida",
   url: "Por favor, escribe una URL válida.",
   date: "Por favor, escribe una fecha válida.",
   dateISO: "Por favor, escribe una fecha (ISO) válida.",
   number: "Por favor, escribe un número entero válido.",
   digits: "Por favor, escribe sólo dígitos.",
   creditcard: "Por favor, escribe un número de tarjeta válido.",
   equalTo: "Por favor, escribe el mismo valor de nuevo.",
   accept: "Por favor, escribe un valor con una extensión aceptada.",
   maxlength: $.validator.format("Por favor, no escribas más de {0} caracteres."),
   minlength: $.validator.format("Por favor, no escribas menos de {0} caracteres."),
   rangelength: $.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
   range: $.validator.format("Por favor, escribe un valor entre {0} y {1}."),
   max: $.validator.format("Por favor, escribe un valor menor o igual a {0}."),
   min: $.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
 });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
 <!--End mc_embed_signup-->






































 <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://hotmail.us14.list-manage.com/subscribe/post?u=18afcd080d9cc3e82c128d501&amp;id=932a5978eb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Correo Electrónico  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear foot">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_18afcd080d9cc3e82c128d501_932a5978eb" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                <p class="brandingLogo"><a href="http://eepurl.com/hWyTl9" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
            </div>
        </div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday'; /*
 * Translated default messages for the $ validation plugin.
 * Locale: ES
 */
$.extend($.validator.messages, {
  required: "Este campo es obligatorio.",
  remote: "Por favor, rellena este campo.",
  email: "Por favor, escribe una dirección de correo válida",
  url: "Por favor, escribe una URL válida.",
  date: "Por favor, escribe una fecha válida.",
  dateISO: "Por favor, escribe una fecha (ISO) válida.",
  number: "Por favor, escribe un número entero válido.",
  digits: "Por favor, escribe sólo dígitos.",
  creditcard: "Por favor, escribe un número de tarjeta válido.",
  equalTo: "Por favor, escribe el mismo valor de nuevo.",
  accept: "Por favor, escribe un valor con una extensión aceptada.",
  maxlength: $.validator.format("Por favor, no escribas más de {0} caracteres."),
  minlength: $.validator.format("Por favor, no escribas menos de {0} caracteres."),
  rangelength: $.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
  range: $.validator.format("Por favor, escribe un valor entre {0} y {1}."),
  max: $.validator.format("Por favor, escribe un valor menor o igual a {0}."),
  min: $.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
});}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->





















  {% if site.instafeed == true %}
  <div class="widget widget-facebook">
    <h3 class="widget-title">Contáctame por Correo</h3>
   <!-- your other form fields go here -->

  <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xayvjplw" method="post">
    
      <label for="full-name">Nombre</label>
      <div></div>
      <input type="text" name="name" id="full-name" required="" width: 228px>
      <div></div>
      <label for="email-address">Correo</label>
      <div></div>
      <input type="email" name="_replyto" id="email-address" required="">
      <div></div>
      <label for="message">Mensaje</label>
      <div></div>
      <textarea rows="5" name="message" id="message" required=""></textarea>
      <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
      <div></div>
    <input type="submit" value="Enviar">
  </form>

  <!-- your other form fields go here -->
  </div>
  {% endif %}














  <div class="widget widget-tags">
    <h3 class="widget-title">Tag Cloud</h3>
    {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{%
    endcapture %} {% assign tag_words = site_tags | split:',' | sort %}
    <ul class="tag-list list-reset">
    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
      {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
        <li class="tag-item"><a href="{{ site.baseurl }}/tags#{{ this_word | cgi_escape }}" class="tag">{{ this_word }}</a></li>
      {% endunless %}
    {% endfor %}
    </ul>
  </div>
  
</aside> <!-- /.sidebar -->